<!DOCTYPE html>
<html>
<head>
	<title>Banks | Search</title>
  	<script type="text/javascript" src="/static/js/react-15.2.0.min.js"></script>
  	<script type="text/javascript" src="/static/js/react-dom-15.2.0.min.js"></script>
  	<script type="text/javascript" src="/static/js/browser.min.js"></script>
  	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/fuse.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
</head>
<body>
	<div id="content">
	</div>
	<script type="text/babel">
		var App = React.createClass({
			loadBanks: function() {
				let banks = localStorage.getItem('banks');
				if (!banks) {
					$.ajax({
						url: this.props.url,
						type: 'GET',
						dataType: 'json',
						success: function(data) {
							localStorage.setItem('banks', JSON.stringify(data));
							this.setState({
								banks: data
							});
						}.bind(this)
					});
				} else {
					this.setState({
						banks: JSON.parse(banks)
					});
				}
			},
			getInitialState: function() {
			    return {banks: []};
			},
		  componentDidMount: function() {
			    this.loadBanks();
			},
			render: function() {
				return (
					<div className="row">
						<div className="col-md-6">
							<h1>Bank List</h1>
							<BanksDropdown banks={this.state.banks} url="/city/:bank" />
						</div>
					</div>
				);
			}
		});
		let SearchBar = React.createClass({
			fetchBranches: function(event) {
				let city = event.target.innerHTML;
				let url = this.props.url.replace(':bank', this.state.selectedBank).replace(':city', city);
				let storageKey = this.state.selectedBank + '_' + city;
				let branches = localStorage.getItem(storageKey);
				if (branches) {
					this.setState({
						branches: JSON.parse(branches)
					});
				} else {
					$.ajax({
						url: url,
						type: 'GET',
						dataType: 'json',
						success: function(data) {
							localStorage.setItem(storageKey, JSON.stringify(data));
							this.setState({
								branches: data
							});
						}.bind(this)
					});
				}
			},
			filterCities: function(event) {
				clearTimeout(this.state.timer);
				let component = this;
				let timer = setTimeout(function validate() {
					let searchKey = document.getElementById('citysearch').value;
					if (searchKey && searchKey.length) {
						let searchResults = component.state.fuse.search(searchKey);
						let results = searchResults.map(function(r) {
							return component.state.cities[r];
						});
						component.setState({resultedCities: results, clearData: false});
					} else {
						component.setState({resultedCities: [], clearData: true});
					}
				}, 500);
       	this.setState({timer: timer});
			},
			getInitialState: function() {
				return {cities: this.props.cities, branches: [], resultedCities: [], fuse: null, timer: null, selectedBank: this.props.selectedBank, clearData: true};
			},
			componentWillReceiveProps: function(nextProps) {
				this.setState({cities: nextProps.cities, selectedBank: nextProps.selectedBank});
				if (nextProps.clearData) {
					document.getElementById('citysearch').value = '';
					this.setState({resultedCities: [], branches: [], clearData: true});
				}
				const fuse = new Fuse(nextProps.cities, {threshold: 0.3});
				this.setState({fuse: fuse});
			},
			componentDidMount: function() {
			},
			render: function() {
				let liItems = this.state.resultedCities.map(function(city) {
					return React.createElement('li', {key: city}, city);
				});
				return (
					<div className="form-group">
						<input type="text" name="citysearch" id="citysearch" onKeyUp={this.filterCities}/>
						<ul id="filteredCities" onClick={this.fetchBranches}>
							{liItems}
						</ul>
						<div className="row">
							<div className="col-md-6">
								<SearchResults branches={this.state.branches} clearData={this.state.clearData}/>
							</div>
						</div>
					</div>
				)
			}
		});
		let SearchResults = React.createClass({
			getInitialState: function() {
				return {branches: [], clearData: true};
			},
			componentWillReceiveProps: function(nextProps) {
				if (nextProps.clearData) {
					this.setState({branches: []});
				} else {
					this.setState({branches: nextProps.branches});
				}
			},
			render: function() {
				let results = this.state.branches.map(function(branch) {
					return React.createElement(Branch, {key: branch.ifsc, branch: branch});
				});
				return (
					<div>
					{results}
					</div>
				)
			}
		});

		let Branch = React.createClass({
			getInitialState: function() {
				return {branch: this.props.branch};
			},
			componentWillReceiveProps: function(nextProps) {
				this.setState({branch: nextProps.branch});
			},
			render: function() {
				return (
					<div className="branch">
						<dt>ifsc</dt>
		  			<dd>{this.state.branch.ifsc}</dd>
						<dt>branch</dt>
		  			<dd>{this.state.branch.branch}</dd>
						<dt>address</dt>
		  			<dd>{this.state.branch.address}</dd>
						<dt>city</dt>
		  			<dd>{this.state.branch.city}</dd>
						<dt>district</dt>
		  			<dd>{this.state.branch.district}</dd>
						<dt>state</dt>
		  			<dd>{this.state.branch.state}</dd>
					</div>
				)
			}
		});

		let BanksDropdown = React.createClass({
			getInitialState: function() {
			    return {cities: [], clearData: true, selected: ''};
			},
			handleClick: function(event) {
				let bankID = event.target.value;
				this.setState({selected: bankID, cities: [], clearData: true});
				if (!isNaN(bankID) && bankID !== '') {
					let storageKey = 'banks_' + bankID;
					let cities = localStorage.getItem(storageKey);
					if (!cities) {
						$.ajax({
							url: this.props.url.replace(':bank', bankID),
							type: 'GET',
							dataType: 'json',
							success: function(data) {
								localStorage.setItem(storageKey, JSON.stringify(data));
								this.setState({
									cities: data
								});
							}.bind(this)
						});
					} else {
						this.setState({
							cities: JSON.parse(cities)
						});
					}
				} else {
					this.setState({
						cities: []
					});
				}
			},
			render: function() {
				let options = this.props.banks.map(function(bank) {
					return React.createElement('option', {value: bank.id, key: bank.id}, bank.name);
				});
				options.unshift(React.createElement('option', {value: '', key: ''}, '--- Select a Bank ---'));

				return (
					<div className="form-group">
						<select value={this.state.selected}
										onChange={this.handleClick}>
								{options}
						</select>
						<SearchBar selectedBank={this.state.selected} cities={this.state.cities} clearData={this.state.clearData} url="/branch/:bank/:city"/>
					</div>
				)
			}
		});

		ReactDOM.render(
		  <App url="/bank"/>,
		  document.getElementById('content')
		);
	</script>
</body>
</html>
