<!DOCTYPE html>
<html>
<head>
	<title>Banks | Search</title>
  	<!-- <script type="text/javascript" src="/static/js/react-15.2.0.min.js"></script>
  	<script type="text/javascript" src="/static/js/react-dom-15.2.0.min.js"></script> -->
		<script src="https://fb.me/react-15.2.0.js"></script>
		<script src="https://fb.me/react-dom-15.2.0.js"></script>
  	<script type="text/javascript" src="/static/js/browser.min.js"></script>
  	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/fuse.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
</head>
<body>
	<div id="content">
	</div>
	<script type="text/babel">
		var App = React.createClass({
			loadBanks: function() {
				localStorage.removeItem('banks');
				var banks = localStorage.getItem('banks');
				if (!banks) {
					this.serverRequest = $.ajax({
						url: this.props.url,
						type: 'GET',
						dataType: 'json',
						success: function(data) {
							localStorage.setItem('banks', JSON.stringify(data));
							this.setState({
								banks: data
							});
						}.bind(this)
					});
				} else {
					this.setState({
						banks: JSON.parse(banks)
					});
				}
			},
			getInitialState: function() {
			    return {banks: []};
			},
		  componentDidMount: function() {
			    this.loadBanks();
			},
			componentWillUnmount: function() {
		    this.serverRequest.abort();
		  },
			render: function() {
				return (
					<div className="row">
					<div className="col-md-6">
						<h1>Bank List</h1>
						<BanksDropdown banks={this.state.banks} url="/city/:bank" />
					</div>
					<div className="col-md-6">
						<SearchResults />
					</div>
					</div>
				);
			}
		});
		var SearchBar = React.createClass({
			filterCities: function(event) {
				let searchKey = document.getElementById('citysearch').value;
				if (searchKey && searchKey.length){
					let searchResults = this.state.fuse.search(searchKey);
					this.setState({resultedCities: searchResults});
				} else {
					this.setState({resultedCities: []});
				}
			},
			getInitialState: function() {
				return {cities: this.props.cities, resultedCities: [], fuse: null};
			},
			componentDidMount: function() {
				let fuse = new Fuse(this.state.cities);
				this.setState({fuse: fuse});
			},
			render: function() {
				let liItems = this.state.resultedCities.map(function(city) {
					return React.createElement('li', {key: city}, city);
				});
				return (
					<div>
						<input type="text" name="citysearch" id="citysearch" onKeyUp={this.filterCities}/>
						<ul>
							{liItems}
						</ul>
					</div>
				)
			}
		});
		var SearchResults = React.createClass({
			render: function() {
				return null;
			}
		});
		var BranchList = React.createClass({
			render: function() {

			}
		});
		var Branch = React.createClass({
			render: function() {

			}
		});

		var BanksDropdown = React.createClass({
			getInitialState: function() {
			    return {cities: []};
			},
			handleClick: function(event) {
				let bankID = event.target.value;
				this.setState({selected: bankID});
				if (!isNaN(bankID)) {
					let storageKey = 'banks_' + bankID;
					localStorage.removeItem(storageKey);
					let cities = localStorage.getItem(storageKey);
					if (!cities) {
						$.ajax({
							url: this.props.url.replace(':bank', bankID),
							type: 'GET',
							dataType: 'json',
							success: function(data) {
								localStorage.setItem(storageKey, JSON.stringify(data));
								this.setState({
									cities: data
								});
							}.bind(this)
						});
					} else {
						this.setState({
							cities: JSON.parse(cities)
						});
					}
				} else {
					this.setState({
						cities: []
					});
				}
			},
			render: function() {
				let options = this.props.banks.map(function(bank) {
					return React.createElement('option', {value: bank.id, key: bank.id}, bank.name);
				});
				options.unshift(React.createElement('option', {value: '', key: ''}, '--- Select a Bank ---'));

				return (
					<div className="SearchBarResults">
						<select className='form-control'
										value={this.state.selected}
										onChange={this.handleClick}>
								{options}
						</select>
						<SearchBar cities={this.state.cities}/>
					</div>
				)
			}
		});

		ReactDOM.render(
		  <App url="/bank"/>,
		  document.getElementById('content')
		);
	</script>
</body>
</html>
