<!DOCTYPE html>
<html>
<head>
	<title>Banks | Search</title>
  	<script type="text/javascript" src="/static/js/react-15.2.0.min.js"></script>
  	<script type="text/javascript" src="/static/js/react-dom-15.2.0.min.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-dom.js"></script> -->
  	<script type="text/javascript" src="/static/js/browser.min.js"></script>
  	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/fuse.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
</head>
<body>
	<div id="content" class="container-fluid">
	</div>
	<script type="text/babel">
		var App = React.createClass({
			loadBanks: function() {
				let banks = localStorage.getItem('banks');
				if (!banks) {
					$.ajax({
						url: this.props.url,
						type: 'GET',
						dataType: 'json',
						success: function(data) {
							localStorage.setItem('banks', JSON.stringify(data));
							this.setState({
								banks: data
							});
						}.bind(this)
					});
				} else {
					this.setState({
						banks: JSON.parse(banks)
					});
				}
			},
			getInitialState: function() {
			    return {banks: [], branches: []};
			},
		  componentDidMount: function() {
			    this.loadBanks();
			},
			render: function() {
				return (
					<div className="row">
						<div className="col-md-6">
							<h1>Bank Search</h1>
							<BanksDropdown banks={this.state.banks} onFetchBranches={this.onFetchBranches} url="/city/:bank" />
						</div>
						<div className="col-md-6">
								<SearchResults branches={this.state.branches} />
						</div>
					</div>
				);
			},
			onFetchBranches: function(branches) {
				this.setState({branches: branches});
			}
		});
		let SearchBar = React.createClass({
			fetchBranches: function(event) {
				let city = event.target.innerHTML;
				let url = this.props.url.replace(':bank', this.state.selectedBank).replace(':city', city);
				let storageKey = this.state.selectedBank + '_' + city;
				let branches = localStorage.getItem(storageKey);
				if (branches) {
					this.props.onFetchBranches(JSON.parse(branches));
				} else {
					$.ajax({
						url: url,
						type: 'GET',
						dataType: 'json',
						success: function(data) {
							localStorage.setItem(storageKey, JSON.stringify(data));
							this.props.onFetchBranches(data);
						}.bind(this)
					});
				}
			},
			filterCities: function(event) {
				clearTimeout(this.timer);
				let component = this;
				let timer = setTimeout(function validate() {
					let searchKey = document.getElementById('citysearch').value;
					if (searchKey && searchKey.length) {
						let searchResults = component.fuse.search(searchKey);
						let results = searchResults.map(function(r) {
							return component.state.cities[r];
						});
						component.setState({resultedCities: results});
					} else {
						component.setState({resultedCities: []});
						component.props.onFetchBranches([]);
					}
				}, 500);
       	this.timer = timer;
			},
			getInitialState: function() {
				return {cities: this.props.cities, resultedCities: [], selectedBank: this.props.selectedBank};
			},
			componentWillReceiveProps: function(nextProps) {
				this.setState({cities: nextProps.cities, selectedBank: nextProps.selectedBank});
				if (nextProps.selectedBank == '') {
					document.getElementById('citysearch').value = '';
					this.setState({resultedCities: [], branches: []});
				}
				const fuse = new Fuse(nextProps.cities, {threshold: 0.3});
				this.fuse = fuse;
			},
			render: function() {
				let liItems = this.state.resultedCities.map(function(city) {
					return React.createElement('a', {"href": "#", 'title': 'click to get branches'}, React.createElement('li', {key: city}, city));
				});
				return (
					<div className="form-group">
						<input type="text" className="form-control" name="citysearch" id="citysearch" onKeyUp={this.filterCities}/>
						<br/>
						<div className="row">
							<div className="col-md-8 col-md-offset-2">
								<ul className="list-unstyled" onClick={this.fetchBranches}>
									{liItems}
								</ul>
							</div>
						</div>
					</div>
				)
			}
		});
		let SearchResults = React.createClass({
			getInitialState: function() {
				return {branches: this.props.branches};
			},
			componentWillReceiveProps: function(nextProps) {
				this.setState({branches: nextProps.branches});
			},
			render: function() {
				let results = this.state.branches.map(function(branch) {
					return React.createElement(Branch, {key: branch.ifsc, branch: branch});
				});
				return (
					<div>
					{results}
					</div>
				)
			}
		});

		let Branch = React.createClass({
			getInitialState: function() {
				return {branch: this.props.branch};
			},
			componentWillReceiveProps: function(nextProps) {
				this.setState({branch: nextProps.branch});
			},
			render: function() {
				return (
					<div>
						<fieldset>
							IFSC: {this.state.branch.ifsc} <br/>
							Branch: {this.state.branch.branch} <br/>
							Address: {this.state.branch.address} <br/>
							City: {this.state.branch.city} <br/>
							District: {this.state.branch.district} <br/>
							State: {this.state.branch.state}
						</fieldset>
						<br/>
					</div>
				)
			}
		});

		let BanksDropdown = React.createClass({
			getInitialState: function() {
			    return {cities: [], selected: ''};
			},
			handleClick: function(event) {
				let bankID = event.target.value;
				this.setState({selected: bankID, cities: []});
				if (!isNaN(bankID) && bankID !== '') {
					let storageKey = 'banks_' + bankID;
					let cities = localStorage.getItem(storageKey);
					if (!cities) {
						$.ajax({
							url: this.props.url.replace(':bank', bankID),
							type: 'GET',
							dataType: 'json',
							success: function(data) {
								localStorage.setItem(storageKey, JSON.stringify(data));
								this.setState({
									cities: data
								});
							}.bind(this)
						});
					} else {
						this.setState({
							cities: JSON.parse(cities)
						});
					}
				} else {
					this.setState({
						cities: []
					});
					this.props.onFetchBranches([]);
				}
			},
			render: function() {
				let options = this.props.banks.map(function(bank) {
					return React.createElement('option', {value: bank.id, key: bank.id}, bank.name);
				});
				options.unshift(React.createElement('option', {value: '', key: ''}, '--- Select a Bank ---'));

				return (
					<form role="form">
						<div className="form-group">
							<select className="form-control" value={this.state.selected}
											onChange={this.handleClick}>
									{options}
							</select>
						</div>
						<div className="form-group">
							<SearchBar selectedBank={this.state.selected} onFetchBranches={this.props.onFetchBranches} cities={this.state.cities} url="/branch/:bank/:city"/>
						</div>
					</form>
				)
			}
		});

		ReactDOM.render(
		  <App url="/bank"/>,
		  document.getElementById('content')
		);
	</script>
</body>
</html>
